In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [106]:
'''
1、 第一题
'''
df1 = pd.read_csv('./东京奥运会奖牌数据.csv')
df2 = pd.read_csv('./东京奥运会奖牌分日数据.csv')

In [3]:
df1

    排名 国家奥委会  Unnamed: 2  Unnamed: 3  Unnamed: 4   总分  按总数排名 国家奥委会代码   国家id
0    1    美国          39          41          33  113      1     USA      5
1    2    中国          38          32          18   88      2     CHN     26
2    3    日本          27          14          17   58      5     JPN     18
3    4    英国          22          21          22   65      4     GBR    211
4    5   ROC          20          28          23   71      3     ROC  23062
..  ..   ...         ...         ...         ...  ...    ...     ...    ...
88  86    加纳           0           0           1    1     77     GHA    142
89  86  格林纳达           0           0           1    1     77     GRN     88
90  86   科威特           0           0           1    1     77     KUW    230
91  86  摩尔多瓦           0           0           1    1     77     MDA     23
92  86   叙利亚           0           0           1    1     77     SYR    100

[93 rows x 9 columns]

In [4]:
df2

                获奖时间  奖牌类型                   运动员   国家id 运动类别
0     2021/8/8 16:44     1             塞尔维亚男子水球队    107   水球
1     2021/8/8 16:44     2               希腊男子水球队    171   水球
2     2021/8/8 15:34     1               法国女子手球队    144   手球
3     2021/8/8 15:34     2             俄奥委会女子手球队  23062   手球
4     2021/8/8 14:49     1             巴霍迪尔·贾洛洛夫     15   拳击
...              ...   ...                   ...    ...  ...
1078  2021/7/24 7:30     2           阿纳斯塔西娅·加拉西娜  23062   射击
1079  2021/7/24 7:30     3               妮娜·克里斯汀    149   射击
1080  2021/7/24 0:00     1                安山/金智德    106   射箭
1081  2021/7/24 0:00     2               史蒂夫·维勒等      1   射箭
1082  2021/7/24 0:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭

[1083 rows x 5 columns]

In [6]:
df1.columns

Index(['排名', '国家奥委会', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', '总分', '按总数排名',
       '国家奥委会代码', '国家id'],
      dtype='object')

In [107]:
'''
第二题
'''
df1 = df1.rename(columns={'Unnamed: 2': '金牌数', 'Unnamed: 3': '银牌数', 'Unnamed: 4': '铜牌数'})
df1

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码   国家id
0    1    美国   39   41   33  113      1     USA      5
1    2    中国   38   32   18   88      2     CHN     26
2    3    日本   27   14   17   58      5     JPN     18
3    4    英国   22   21   22   65      4     GBR    211
4    5   ROC   20   28   23   71      3     ROC  23062
..  ..   ...  ...  ...  ...  ...    ...     ...    ...
88  86    加纳    0    0    1    1     77     GHA    142
89  86  格林纳达    0    0    1    1     77     GRN     88
90  86   科威特    0    0    1    1     77     KUW    230
91  86  摩尔多瓦    0    0    1    1     77     MDA     23
92  86   叙利亚    0    0    1    1     77     SYR    100

[93 rows x 9 columns]

In [108]:
'''
第三题
'''
df2.dtypes

获奖时间    object
奖牌类型     int64
运动员     object
国家id     int64
运动类别    object
dtype: object

In [39]:
df2['获奖时间']

0       2021/8/8 16:44
1       2021/8/8 16:44
2       2021/8/8 15:34
3       2021/8/8 15:34
4       2021/8/8 14:49
             ...
1078    2021/7/24 7:30
1079    2021/7/24 7:30
1080    2021/7/24 0:00
1081    2021/7/24 0:00
1082    2021/7/24 0:00
Name: 获奖时间, Length: 1083, dtype: object

In [41]:
from datetime import datetime

In [42]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [109]:
'''
第四题
'''
df2['获奖时间'] = pd.to_datetime(df2['获奖时间'])
df2['获奖时间'].dtype

dtype('<M8[ns]')

In [51]:
df2.dtypes

获奖时间    datetime64[ns]
奖牌类型             int64
运动员             object
国家id             int64
运动类别            object
dtype: object

In [52]:
df2

                    获奖时间  奖牌类型                   运动员   国家id 运动类别
0    2021-08-08 16:44:00     1             塞尔维亚男子水球队    107   水球
1    2021-08-08 16:44:00     2               希腊男子水球队    171   水球
2    2021-08-08 15:34:00     1               法国女子手球队    144   手球
3    2021-08-08 15:34:00     2             俄奥委会女子手球队  23062   手球
4    2021-08-08 14:49:00     1             巴霍迪尔·贾洛洛夫     15   拳击
...                  ...   ...                   ...    ...  ...
1078 2021-07-24 07:30:00     2           阿纳斯塔西娅·加拉西娜  23062   射击
1079 2021-07-24 07:30:00     3               妮娜·克里斯汀    149   射击
1080 2021-07-24 00:00:00     1                安山/金智德    106   射箭
1081 2021-07-24 00:00:00     2               史蒂夫·维勒等      1   射箭
1082 2021-07-24 00:00:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭

[1083 rows x 5 columns]

In [110]:
'''
第五题
'''
df2 = df2.sort_values(by='获奖时间', ascending=True)
df2

                    获奖时间  奖牌类型                   运动员   国家id 运动类别
1082 2021-07-24 00:00:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭
1081 2021-07-24 00:00:00     2               史蒂夫·维勒等      1   射箭
1080 2021-07-24 00:00:00     1                安山/金智德    106   射箭
1077 2021-07-24 07:30:00     1                    杨倩     26   射击
1079 2021-07-24 07:30:00     3               妮娜·克里斯汀    149   射击
...                  ...   ...                   ...    ...  ...
4    2021-08-08 14:49:00     1             巴霍迪尔·贾洛洛夫     15   拳击
3    2021-08-08 15:34:00     2             俄奥委会女子手球队  23062   手球
2    2021-08-08 15:34:00     1               法国女子手球队    144   手球
1    2021-08-08 16:44:00     2               希腊男子水球队    171   水球
0    2021-08-08 16:44:00     1             塞尔维亚男子水球队    107   水球

[1083 rows x 5 columns]

In [85]:
pd.merge(df2, df1, on='国家id')

,获奖时间,奖牌类型,运动员,国家id,运动类别,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,84,墨西哥,0,0,4,4,47,MEX
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,84,墨西哥,0,0,4,4,47,MEX
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,84,墨西哥,0,0,4,4,47,MEX
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,84,墨西哥,0,0,4,4,47,MEX
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,7,荷兰,10,12,14,36,9,NED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,77,沙特阿拉伯,0,1,0,1,77,KSA
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,86,摩尔多瓦,0,0,1,1,77,MDA
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,77,巴林,0,1,0,1,77,BRN
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,77,纳米比亚,0,1,0,1,77,NAM
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,86,博茨瓦纳,0,0,1,1,77,BOT

In [112]:
'''
第六题
'''
df3 = pd.merge(df2, df1, on='国家id')[list(df2.columns)+['国家奥委会', '总分']].rename(columns={'国家奥委会': '国家', 
                                                                                 '总分': '总奖牌数'})
df3

,获奖时间,奖牌类型,运动员,国家id,运动类别,国家,总奖牌数
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,墨西哥,4
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,墨西哥,4
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,墨西哥,4
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,墨西哥,4
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,荷兰,36
...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,沙特阿拉伯,1
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,摩尔多瓦,1
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,巴林,1
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,纳米比亚,1
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,博茨瓦纳,1

In [117]:
df3[df3['运动员']=='杨倩']['国家'] = '东京首金'
df3[df3['运动员']=='杨倩']['国家']

<ipython-input-117-daabc15feeba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[df3['运动员']=='杨倩']['国家'] = '东京首金'

60    中国
Name: 国家, dtype: object

In [146]:
for i in df3[['国家', '奖牌类型']].groupby(df3['国家']):
#     print(type(i))
#     print(type(i[1]))
#     print(i[0],i[1]['奖牌类型'].value_counts().sum())
#     print('--------------------------------------------------------------------')
    pass

In [162]:
'''
第七题
'''
df4 = Series({i[0]:i[1]['奖牌类型'].value_counts().sum() for i in df3[['国家', '奖牌类型']].groupby(df3['国家'])})
df4.sort_values(ascending=False).head()

美国     113
中国      88
ROC     71
英国      65
日本      58
dtype: int64

In [166]:
df3[['国家', '总奖牌数']].sort_values(by='总奖牌数', ascending=False).drop_duplicates()

         国家  总奖牌数
541      美国   113
140      中国    88
225     ROC    71
740      英国    65
403      日本    58
...     ...   ...
913    北马其顿     1
912     百慕大     1
911   土库曼斯坦     1
904     科威特     1
1082   博茨瓦纳     1

[93 rows x 2 columns]

In [167]:
df3

,获奖时间,奖牌类型,运动员,国家id,运动类别,国家,总奖牌数
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,墨西哥,4
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,墨西哥,4
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,墨西哥,4
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,墨西哥,4
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,荷兰,36
...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,沙特阿拉伯,1
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,摩尔多瓦,1
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,巴林,1
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,纳米比亚,1
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,博茨瓦纳,1