In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
'''
1、 第一题
'''
df1 = pd.read_csv('./东京奥运会奖牌数据.csv')
df2 = pd.read_csv('./东京奥运会奖牌分日数据.csv')

In [3]:
df1

    排名 国家奥委会  Unnamed: 2  Unnamed: 3  Unnamed: 4   总分  按总数排名 国家奥委会代码   国家id
0    1    美国          39          41          33  113      1     USA      5
1    2    中国          38          32          18   88      2     CHN     26
2    3    日本          27          14          17   58      5     JPN     18
3    4    英国          22          21          22   65      4     GBR    211
4    5   ROC          20          28          23   71      3     ROC  23062
..  ..   ...         ...         ...         ...  ...    ...     ...    ...
88  86    加纳           0           0           1    1     77     GHA    142
89  86  格林纳达           0           0           1    1     77     GRN     88
90  86   科威特           0           0           1    1     77     KUW    230
91  86  摩尔多瓦           0           0           1    1     77     MDA     23
92  86   叙利亚           0           0           1    1     77     SYR    100

[93 rows x 9 columns]

In [4]:
df2

                获奖时间  奖牌类型                   运动员   国家id 运动类别
0     2021/8/8 16:44     1             塞尔维亚男子水球队    107   水球
1     2021/8/8 16:44     2               希腊男子水球队    171   水球
2     2021/8/8 15:34     1               法国女子手球队    144   手球
3     2021/8/8 15:34     2             俄奥委会女子手球队  23062   手球
4     2021/8/8 14:49     1             巴霍迪尔·贾洛洛夫     15   拳击
...              ...   ...                   ...    ...  ...
1078  2021/7/24 7:30     2           阿纳斯塔西娅·加拉西娜  23062   射击
1079  2021/7/24 7:30     3               妮娜·克里斯汀    149   射击
1080  2021/7/24 0:00     1                安山/金智德    106   射箭
1081  2021/7/24 0:00     2               史蒂夫·维勒等      1   射箭
1082  2021/7/24 0:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭

[1083 rows x 5 columns]

In [6]:
df1.columns

Index(['排名', '国家奥委会', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', '总分', '按总数排名',
       '国家奥委会代码', '国家id'],
      dtype='object')

In [3]:
'''
第二题
'''
df1 = df1.rename(columns={'Unnamed: 2': '金牌数', 'Unnamed: 3': '银牌数', 'Unnamed: 4': '铜牌数'})
df1

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码   国家id
0    1    美国   39   41   33  113      1     USA      5
1    2    中国   38   32   18   88      2     CHN     26
2    3    日本   27   14   17   58      5     JPN     18
3    4    英国   22   21   22   65      4     GBR    211
4    5   ROC   20   28   23   71      3     ROC  23062
..  ..   ...  ...  ...  ...  ...    ...     ...    ...
88  86    加纳    0    0    1    1     77     GHA    142
89  86  格林纳达    0    0    1    1     77     GRN     88
90  86   科威特    0    0    1    1     77     KUW    230
91  86  摩尔多瓦    0    0    1    1     77     MDA     23
92  86   叙利亚    0    0    1    1     77     SYR    100

[93 rows x 9 columns]

In [4]:
'''
第三题
'''
df2.dtypes

获奖时间    object
奖牌类型     int64
运动员     object
国家id     int64
运动类别    object
dtype: object

In [39]:
df2['获奖时间']

0       2021/8/8 16:44
1       2021/8/8 16:44
2       2021/8/8 15:34
3       2021/8/8 15:34
4       2021/8/8 14:49
             ...
1078    2021/7/24 7:30
1079    2021/7/24 7:30
1080    2021/7/24 0:00
1081    2021/7/24 0:00
1082    2021/7/24 0:00
Name: 获奖时间, Length: 1083, dtype: object

In [5]:
from datetime import datetime

In [42]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [6]:
'''
第四题
'''
df2['获奖时间'] = pd.to_datetime(df2['获奖时间'])
df2['获奖时间'].dtype

dtype('<M8[ns]')

In [7]:
df2.dtypes

获奖时间    datetime64[ns]
奖牌类型             int64
运动员             object
国家id             int64
运动类别            object
dtype: object

In [52]:
df2

                    获奖时间  奖牌类型                   运动员   国家id 运动类别
0    2021-08-08 16:44:00     1             塞尔维亚男子水球队    107   水球
1    2021-08-08 16:44:00     2               希腊男子水球队    171   水球
2    2021-08-08 15:34:00     1               法国女子手球队    144   手球
3    2021-08-08 15:34:00     2             俄奥委会女子手球队  23062   手球
4    2021-08-08 14:49:00     1             巴霍迪尔·贾洛洛夫     15   拳击
...                  ...   ...                   ...    ...  ...
1078 2021-07-24 07:30:00     2           阿纳斯塔西娅·加拉西娜  23062   射击
1079 2021-07-24 07:30:00     3               妮娜·克里斯汀    149   射击
1080 2021-07-24 00:00:00     1                安山/金智德    106   射箭
1081 2021-07-24 00:00:00     2               史蒂夫·维勒等      1   射箭
1082 2021-07-24 00:00:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭

[1083 rows x 5 columns]

In [8]:
'''
第五题
'''
df2 = df2.sort_values(by='获奖时间', ascending=True)
df2

                    获奖时间  奖牌类型                   运动员   国家id 运动类别
1082 2021-07-24 00:00:00     3  亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯    156   射箭
1081 2021-07-24 00:00:00     2               史蒂夫·维勒等      1   射箭
1080 2021-07-24 00:00:00     1                安山/金智德    106   射箭
1077 2021-07-24 07:30:00     1                    杨倩     26   射击
1079 2021-07-24 07:30:00     3               妮娜·克里斯汀    149   射击
...                  ...   ...                   ...    ...  ...
4    2021-08-08 14:49:00     1             巴霍迪尔·贾洛洛夫     15   拳击
3    2021-08-08 15:34:00     2             俄奥委会女子手球队  23062   手球
2    2021-08-08 15:34:00     1               法国女子手球队    144   手球
1    2021-08-08 16:44:00     2               希腊男子水球队    171   水球
0    2021-08-08 16:44:00     1             塞尔维亚男子水球队    107   水球

[1083 rows x 5 columns]

In [85]:
pd.merge(df2, df1, on='国家id')

,获奖时间,奖牌类型,运动员,国家id,运动类别,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,84,墨西哥,0,0,4,4,47,MEX
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,84,墨西哥,0,0,4,4,47,MEX
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,84,墨西哥,0,0,4,4,47,MEX
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,84,墨西哥,0,0,4,4,47,MEX
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,7,荷兰,10,12,14,36,9,NED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,77,沙特阿拉伯,0,1,0,1,77,KSA
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,86,摩尔多瓦,0,0,1,1,77,MDA
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,77,巴林,0,1,0,1,77,BRN
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,77,纳米比亚,0,1,0,1,77,NAM
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,86,博茨瓦纳,0,0,1,1,77,BOT

In [133]:
'''
第六题
'''
df3 = pd.merge(df2, df1, on='国家id')[list(df2.columns)+['国家奥委会', '总分']].rename(columns={'国家奥委会': '国家', 
                                                                                 '总分': '总奖牌数'})
df3

,获奖时间,奖牌类型,运动员,国家id,运动类别,国家,总奖牌数
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,墨西哥,4
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,墨西哥,4
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,墨西哥,4
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,墨西哥,4
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,荷兰,36
...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,沙特阿拉伯,1
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,摩尔多瓦,1
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,巴林,1
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,纳米比亚,1
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,博茨瓦纳,1

In [117]:
df3[df3['运动员']=='杨倩']['国家'] = '东京首金'
df3[df3['运动员']=='杨倩']['国家']

<ipython-input-117-daabc15feeba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[df3['运动员']=='杨倩']['国家'] = '东京首金'

60    中国
Name: 国家, dtype: object

In [146]:
for i in df3[['国家', '奖牌类型']].groupby(df3['国家']):
#     print(type(i))
#     print(type(i[1]))
#     print(i[0],i[1]['奖牌类型'].value_counts().sum())
#     print('--------------------------------------------------------------------')
    pass

In [10]:
'''
第七题
'''
df4 = Series({i[0]:i[1]['奖牌类型'].value_counts().sum() for i in df3[['国家', '奖牌类型']].groupby(df3['国家'])})
df4.sort_values(ascending=False).head()

美国     113
中国      88
ROC     71
英国      65
日本      58
dtype: int64

In [166]:
df3[['国家', '总奖牌数']].sort_values(by='总奖牌数', ascending=False).drop_duplicates()

         国家  总奖牌数
541      美国   113
140      中国    88
225     ROC    71
740      英国    65
403      日本    58
...     ...   ...
913    北马其顿     1
912     百慕大     1
911   土库曼斯坦     1
904     科威特     1
1082   博茨瓦纳     1

[93 rows x 2 columns]

In [11]:
df3

,获奖时间,奖牌类型,运动员,国家id,运动类别,国家,总奖牌数
0,2021-07-24 00:00:00,3,亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯,156,射箭,墨西哥,4
1,2021-07-27 00:00:00,3,亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚,156,跳水,墨西哥,4
2,2021-08-01 20:39:00,3,阿雷米·富恩特斯,156,举重,墨西哥,4
3,2021-08-06 19:04:00,3,墨西哥男子足球队,156,足球,墨西哥,4
4,2021-07-24 00:00:00,2,史蒂夫·维勒等,1,射箭,荷兰,36
...,...,...,...,...,...,...,...
1078,2021-08-06 19:09:00,2,劳拉·阿萨道斯凯特,7,现代五项,沙特阿拉伯,1
1079,2021-08-07 11:02:00,3,塞尔希·塔诺夫斯基,23,静水皮划艇,摩尔多瓦,1
1080,2021-08-07 19:29:00,2,卡尔基丹·格扎赫格内,215,田径,巴林,1
1081,2021-08-07 20:27:00,2,塔雷格·哈米迪,98,空手道,纳米比亚,1
1082,2021-08-07 21:08:00,3,伊萨克·马夸拉等,250,田径,博茨瓦纳,1

In [134]:
'''
第八题
'''
df3['运动员'].apply(lambda i: 
                 isinstance(('/' in i and np.NaN or i), float) and np.NaN or '队' in i and np.NaN or i
                ).value_counts(ascending=False)

塞勒博·德雷赛尔      3
约书亚·查普特盖      2
阿布纳·特谢拉       2
莉莉·金          2
布莉安娜·威廉姆斯等    2
             ..
拉斐尔·阿加耶夫      1
安娜·玛丽亚·布伦泽    1
奥廖娜 ·斯塔里科娃    1
扎武尔·乌格夫       1
吕小军           1
Name: 运动员, Length: 863, dtype: int64

In [35]:
False and (True and 'B') or (True and 'C')

'C'

In [50]:
c = np.NaN
c == np.NaN

False

In [135]:
'''
第九题
'''
df3.loc[df3['运动类别'].str.contains('乒乓球')]

                   获奖时间  奖牌类型             运动员  国家id 运动类别    国家  总奖牌数
77  2021-07-26 22:00:00     2          许昕/刘诗雯    26  乒乓球    中国    88
89  2021-07-29 21:10:00     2             孙颖莎    26  乒乓球    中国    88
90  2021-07-29 21:10:00     1              陈梦    26  乒乓球    中国    88
98  2021-07-30 21:29:00     2             樊振东    26  乒乓球    中国    88
99  2021-07-30 21:29:00     1              马龙    26  乒乓球    中国    88
133 2021-08-05 20:34:00     1      陈梦/王曼昱/孙颖莎    26  乒乓球    中国    88
137 2021-08-06 20:40:00     1       马龙/许昕/樊振东    26  乒乓球    中国    88
359 2021-07-26 00:00:00     3         林昀儒/郑怡静    31  乒乓球  中华台北    12
411 2021-07-26 22:00:00     1        水谷隼/伊藤美诚    18  乒乓球    日本    58
423 2021-07-29 20:02:00     3            伊藤美诚    18  乒乓球    日本    58
444 2021-08-05 20:41:00     2  伊藤美诚/石川佳纯/平野美宇    18  乒乓球    日本    58
445 2021-08-06 12:42:00     3              日本    18  乒乓球    日本    58
818 2021-07-30 20:16:00     3       迪米特里·奥恰洛夫     2  乒乓球    德国    37
838 2021-08-06 20:42:00     2       派翠克·法兰兹卡等     2  乒乓球    德国    37
868 2021-08-05 12:39:00     3     杜凯琹/苏慧音/李皓晴    38  乒乓球  中国香港     6

In [77]:
df4 = pd.crosstab(df3.国家, df3.运动类别, margins=True)
df4

运动类别,七人制橄榄球,三人篮球,举重,乒乓球,公路自行车,冲浪,击剑,古典式摔跤,场地自行车赛,垒球,...,跳水,蹦床体操,铁人三项,静水皮划艇,马拉松游泳,马术-三项赛,马术-盛装舞步,马术-障碍赛,高尔夫,All
国家,,,,,,,,,,,,,,,,,,,,,
ROC,0,2,0,0,0,0,8,3,2,0,...,1,0,0,0,0,0,0,0,0,71
中华台北,0,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,12
中国,0,1,8,7,0,0,1,1,1,0,...,12,3,0,3,0,0,0,0,0,88
中国香港,0,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,6
丹麦,0,0,0,0,0,0,0,0,3,0,...,0,0,0,2,0,0,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
阿塞拜疆,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
阿根廷,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
韩国,0,0,0,0,0,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,20
马来西亚,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
All,6,6,42,15,12,6,36,24,36,3,...,24,6,9,36,6,6,6,6,6,1083

In [81]:
'''
第十一题
'''

df4.loc['中国']

运动类别
七人制橄榄球      0
三人篮球        1
举重          8
乒乓球         7
公路自行车       0
冲浪          0
击剑          1
古典式摔跤       1
场地自行车赛      1
垒球          0
射击         11
射箭          0
山地自行车       0
帆船          2
手球          0
拳击          2
排球          0
攀岩          0
曲棍球         0
柔道          0
棒球          0
水球          0
沙滩排球        0
游泳          6
滑板          0
激流皮划艇       0
现代五项        0
田径          5
空手道         2
竞技体操        8
竞速小轮车       0
篮球          0
网球          0
羽毛球         6
自由式小轮车      0
自由式摔跤       3
艺术体操        0
花样游泳        2
赛艇          3
足球          0
跆拳道         1
跳水         12
蹦床体操        3
铁人三项        0
静水皮划艇       3
马拉松游泳       0
马术-三项赛      0
马术-盛装舞步     0
马术-障碍赛      0
高尔夫         0
All        88
Name: 中国, dtype: int64

In [94]:
df4.xs('中国')

运动类别
七人制橄榄球      0
三人篮球        1
举重          8
乒乓球         7
公路自行车       0
冲浪          0
击剑          1
古典式摔跤       1
场地自行车赛      1
垒球          0
射击         11
射箭          0
山地自行车       0
帆船          2
手球          0
拳击          2
排球          0
攀岩          0
曲棍球         0
柔道          0
棒球          0
水球          0
沙滩排球        0
游泳          6
滑板          0
激流皮划艇       0
现代五项        0
田径          5
空手道         2
竞技体操        8
竞速小轮车       0
篮球          0
网球          0
羽毛球         6
自由式小轮车      0
自由式摔跤       3
艺术体操        0
花样游泳        2
赛艇          3
足球          0
跆拳道         1
跳水         12
蹦床体操        3
铁人三项        0
静水皮划艇       3
马拉松游泳       0
马术-三项赛      0
马术-盛装舞步     0
马术-障碍赛      0
高尔夫         0
All        88
Name: 中国, dtype: int64

In [96]:
'''
第十二题

'''

'\n第十二题\n\n'

In [142]:
'''
第十三题
'''
df3['获奖时间'] = df3['获奖时间'].apply(lambda x: datetime.strftime(x, '%m月%d日'))
df3

        获奖时间  奖牌类型                           运动员  国家id   运动类别     国家  总奖牌数
0     07月24日     3          亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯   156     射箭    墨西哥     4
1     07月27日     3  亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚   156     跳水    墨西哥     4
2     08月01日     3                      阿雷米·富恩特斯   156     举重    墨西哥     4
3     08月06日     3                      墨西哥男子足球队   156     足球    墨西哥     4
4     07月24日     2                       史蒂夫·维勒等     1     射箭     荷兰    36
...      ...   ...                           ...   ...    ...    ...   ...
1078  08月06日     2                     劳拉·阿萨道斯凯特     7   现代五项  沙特阿拉伯     1
1079  08月07日     3                     塞尔希·塔诺夫斯基    23  静水皮划艇   摩尔多瓦     1
1080  08月07日     2                    卡尔基丹·格扎赫格内   215     田径     巴林     1
1081  08月07日     2                       塔雷格·哈米迪    98    空手道   纳米比亚     1
1082  08月07日     3                      伊萨克·马夸拉等   250     田径   博茨瓦纳     1

[1083 rows x 7 columns]

In [122]:
'''
第十四题
'''

Series(np.arange(len(df2['获奖时间'])), index=df2['获奖时间'].dt.date).groupby(level=0).count()

获奖时间
2021-07-24     35
2021-07-25     58
2021-07-26     68
2021-07-27     71
2021-07-28     71
2021-07-29     53
2021-07-30     65
2021-07-31     70
2021-08-01     76
2021-08-02     64
2021-08-03     81
2021-08-04     59
2021-08-05     95
2021-08-06     80
2021-08-07    103
2021-08-08     34
dtype: int64

In [123]:
# df2['获奖时间'].dt.date.groupby(level=-1).count()

In [125]:
df3

        获奖时间  奖牌类型                           运动员  国家id   运动类别     国家  总奖牌数
0     07月24日     3          亚力杭德拉·瓦伦西亚/路易斯·阿尔瓦雷斯   156     射箭    墨西哥     4
1     07月27日     3  亚历杭德拉·奥罗斯科·罗萨/加布里埃拉·阿贡德斯·加西亚   156     跳水    墨西哥     4
2     08月01日     3                      阿雷米·富恩特斯   156     举重    墨西哥     4
3     08月06日     3                      墨西哥男子足球队   156     足球    墨西哥     4
4     07月24日     2                       史蒂夫·维勒等     1     射箭     荷兰    36
...      ...   ...                           ...   ...    ...    ...   ...
1078  08月06日     2                     劳拉·阿萨道斯凯特     7   现代五项  沙特阿拉伯     1
1079  08月07日     3                     塞尔希·塔诺夫斯基    23  静水皮划艇   摩尔多瓦     1
1080  08月07日     2                    卡尔基丹·格扎赫格内   215     田径     巴林     1
1081  08月07日     2                       塔雷格·哈米迪    98    空手道   纳米比亚     1
1082  08月07日     3                      伊萨克·马夸拉等   250     田径   博茨瓦纳     1

[1083 rows x 7 columns]

In [131]:
'''
第十五题
'''

pd.crosstab(df3['国家'], df3['运动类别'], margins=True)

运动类别,七人制橄榄球,三人篮球,举重,乒乓球,公路自行车,冲浪,击剑,古典式摔跤,场地自行车赛,垒球,...,跳水,蹦床体操,铁人三项,静水皮划艇,马拉松游泳,马术-三项赛,马术-盛装舞步,马术-障碍赛,高尔夫,All
国家,,,,,,,,,,,,,,,,,,,,,
ROC,0,2,0,0,0,0,8,3,2,0,...,1,0,0,0,0,0,0,0,0,71
中华台北,0,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,12
中国,0,1,8,7,0,0,1,1,1,0,...,12,3,0,3,0,0,0,0,0,88
中国香港,0,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,6
丹麦,0,0,0,0,0,0,0,0,3,0,...,0,0,0,2,0,0,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
阿塞拜疆,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
阿根廷,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
韩国,0,0,0,0,0,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,20
马来西亚,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
All,6,6,42,15,12,6,36,24,36,3,...,24,6,9,36,6,6,6,6,6,1083

In [203]:
'''
第16题

'''
data = Series(np.arange(len(df3[df3['国家']=='中国']['获奖时间'])), index=df3[df3['国家']=='中国']['获奖时间']).groupby(level=0).count()
for i in range(len(data)-1):
    data[i+1] += data[i]
data

获奖时间
07月24日     4
07月25日    11
07月26日    18
07月27日    21
07月28日    27
07月29日    31
07月30日    40
07月31日    46
08月01日    51
08月02日    62
08月03日    69
08月04日    70
08月05日    74
08月06日    79
08月07日    87
08月08日    88
dtype: int64

In [303]:
'''
第十七题
'''
data = {i:Series(np.arange(len(df3[df3['国家']==i]['获奖时间'])), index=df3[df3['国家']==i]['获奖时间']).groupby(level=0).count() 
 for i in df3.drop_duplicates(subset=['国家'], keep='first').sort_values(by='总奖牌数', ascending=False).head(10)['国家']}
for k, i in data.items():
    for ii in range(len(i)-1):
        i[ii+1] += i[ii]
df5 = DataFrame(data).fillna(method='ffill').fillna(0)
df5

           美国  中国  俄罗斯    英国  日本  澳大利亚  意大利    德国    荷兰    法国
获奖时间
07月24日    0.0   4    2   0.0   1   0.0    2   0.0   1.0   0.0
07月25日    9.0  11    7   2.0   5   3.0    5   2.0   2.0   3.0
07月26日   14.0  18   12   7.0  13   6.0    9   3.0   3.0   5.0
07月27日   25.0  21   18  13.0  18   9.0   12   5.0   3.0   7.0
07月28日   31.0  27   23  16.0  22  16.0   15  10.0  11.0   8.0
07月29日   38.0  31   28  18.0  25  20.0   19  13.0  13.0  11.0
07月30日   41.0  40   34  24.0  28  22.0   20  16.0  15.0  13.0
07月31日   46.0  46   37  28.0  30  27.0   24  17.0  16.0  19.0
08月01日   59.0  51   44  32.0  31  31.0   27  19.0  17.0  21.0
08月02日   64.0  62   50  35.0  33  33.0   28  23.0  18.0  23.0
08月03日   73.0  69   52  43.0  36  33.0   29  30.0  20.0  24.0
08月04日   79.0  70   53  48.0  40  36.0   30  32.0  23.0  25.0
08月05日   91.0  74   58  51.0  46  41.0   35  34.0  26.0  27.0
08月06日   98.0  79   62  58.0  51  44.0   38  36.0  31.0  27.0
08月07日  108.0  87   69  63.0  56  46.0   39  37.0  33.0  32.0
08月08日  113.0  88   71  65.0  58  46.0   40  37.0  36.0  33.0

In [177]:
df1.sort_values(by='金牌数', ascending=False).head(10)

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码   国家id
0   1    美国   39   41   33  113      1     USA      5
1   2    中国   38   32   18   88      2     CHN     26
2   3    日本   27   14   17   58      5     JPN     18
3   4    英国   22   21   22   65      4     GBR    211
4   5   ROC   20   28   23   71      3     ROC  23062
5   6  澳大利亚   17    7   22   46      6     AUS    157
6   7    荷兰   10   12   14   36      9     NED      1
7   8    法国   10   12   11   33     10     FRA    144
8   9    德国   10   11   16   37      8     GER      2
9  10   意大利   10   10   20   40      7     ITA      6

In [183]:
'''
第十八题 pyecharts
'''
from pyecharts.charts import Bar
bar = Bar()
bar.add_xaxis(
    list(df1.sort_values(by='金牌数', ascending=False).head(10)['国家奥委会']))
bar.add_yaxis('金牌数',
    list(df1.sort_values(by='金牌数', ascending=False).head(10)['金牌数']))
bar.render()

'D:\\git\\sanfwStudy\\sanfw\\sanfw\\xianglong\\12-2-第一天答题\\东京奥运会奖牌分析\\render.html'

In [214]:
'''
第十九题
'''
from pyecharts import options as opts
bar = (Bar()
      .add_xaxis(
      list(df1.sort_values(by='金牌数', ascending=False).head(10)['国家奥委会']))
      .add_yaxis('金牌数',
                list(df1.sort_values(by='总分', ascending=False).head(10)['金牌数']),
                stack='stack1',color='#BA6E40')
       .add_yaxis('银牌数',
                 list(df1.sort_values(by='总分', ascending=False).head(10)['银牌数']),
                 stack='stack1',color='#DFDFD8')
       .add_yaxis('铜牌数',
                 list(df1.sort_values(by='总分', ascending=False).head(10)['铜牌数']),
                 stack='stack1', color='#FFEC8B')
       .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
       .render('bar_stack.html')
      )

In [244]:
df3[df3['国家']=='中国'].groupby(by='运动类别').count()['国家'].index

Index(['三人篮球', '举重', '乒乓球', '击剑', '古典式摔跤', '场地自行车赛', '射击', '帆船', '拳击', '游泳',
       '田径', '空手道', '竞技体操', '羽毛球', '自由式摔跤', '花样游泳', '赛艇', '跆拳道', '跳水', '蹦床体操',
       '静水皮划艇'],
      dtype='object', name='运动类别')

In [245]:
df3[df3['国家']=='中国'].groupby(by='运动类别').count()['国家']

运动类别
三人篮球       1
举重         8
乒乓球        7
击剑         1
古典式摔跤      1
场地自行车赛     1
射击        11
帆船         2
拳击         2
游泳         6
田径         5
空手道        2
竞技体操       8
羽毛球        6
自由式摔跤      3
花样游泳       2
赛艇         3
跆拳道        1
跳水        12
蹦床体操       3
静水皮划艇      3
Name: 国家, dtype: int64

In [243]:
'''
第二十题
'''
from pyecharts.charts import Pie
c = (Pie()
    .add('',[list(i) for i in zip(list(df3[df3['国家']=='中国'].groupby(by='运动类别').count()['国家'].index),
    [int(ii) for ii in list(df3[df3['国家']=='中国'].groupby(by='运动类别').count()['国家'].values)])])
     .render('pie.html')
    )

In [241]:
list(df3[df3['国家']=='中国'].groupby(by='运动类别').count()['国家'].values)[0]

numpy.int64

In [246]:
import requests

In [283]:
import json
from time import sleep
def fanyi(s):
    sleep(1)
    url = f'https://fanyi.youdao.com/translate?&doctype=json&type=AUTO&i={s}'
    data = requests.get(url)
    return json.loads(data.text)['translateResult'][0][0]['tgt']

In [265]:
fanyi('ROC')

'ROC'

In [284]:
sleep(1)

In [274]:
df3['国家'] = df3['国家'].replace('ROC', '俄罗斯')
df3.drop_duplicates(subset='国家', keep='first')[['国家', '总奖牌数']].sort_values(by='总奖牌数', ascending=False)

         国家  总奖牌数
515      美国   113
60       中国    88
161     俄罗斯    71
696      英国    65
399      日本    58
...     ...   ...
912     百慕大     1
911   土库曼斯坦     1
1055    摩洛哥     1
893    格林纳达     1
1082   博茨瓦纳     1

[93 rows x 2 columns]

In [280]:
data = [
    fanyi(i) for i in df3.drop_duplicates(subset='国家', keep='first')[['国家', '总奖牌数']].sort_values(by='总奖牌数', ascending=False)['国家'].values
]

In [290]:
data2 = [list(ii) for ii in zip(data,[int(i) for i in df3.drop_duplicates(subset='国家', keep='first')[['国家', '总奖牌数']].sort_values(by='总奖牌数', ascending=False)['总奖牌数'].values])]

In [296]:
data2.sort(key=lambda x: x[1], reverse=True)
data2[0][0] = 'United States'
data2

[['United States', 113],
 ['China', 88],
 ['Russia', 71],
 ['Britain', 65],
 ['Japan', 58],
 ['Australia', 46],
 ['Italy', 40],
 ['Germany', 37],
 ['In the Netherlands,', 36],
 ['The French', 33],
 ['Canada', 24],
 ['Brazil', 21],
 ['New Zealand', 20],
 ['South Korea', 20],
 ['In Hungary,', 20],
 ['Ukraine', 19],
 ['Spain', 17],
 ['Cuba', 15],
 ['Poland', 14],
 ['The Swiss', 13],
 ['Turkey', 13],
 ['Chinese Taipei', 12],
 ['The Danish', 11],
 ['The Czech republic', 11],
 ['Kenya', 10],
 ['Jamaica', 9],
 ['The Swedish', 9],
 ['Serbia', 9],
 ['kazakhstan', 8],
 ['Croatia', 8],
 ['The Norwegian', 8],
 ['Georgia', 8],
 ['Belarus', 7],
 ['Austria', 7],
 ['azerbaijan', 7],
 ['Belgium', 7],
 ['Iran', 7],
 ['India', 7],
 ['Hong Kong, China,', 6],
 ['Egypt', 6],
 ['Bulgaria', 6],
 ['The Dominican', 5],
 ['Colombia', 5],
 ['Slovenia', 5],
 ['uzbekistan', 5],
 ['Indonesia', 5],
 ['Portugal', 4],
 ['Slovakia', 4],
 ['Ethiopia', 4],
 ['venezuela', 4],
 ['The Greek', 4],
 ['Romania', 4],
 ['The Irish', 4],
 ['Israel', 4],
 ['Uganda,', 4],
 ['Armenia', 4],
 ['Mongolia', 4],
 ['The Philippines', 4],
 ['Mexico', 4],
 ['South Africa', 3],
 ['Qatar', 3],
 ['Argentina', 3],
 ['kyrgyzstan', 3],
 ['Ecuador', 3],
 ['SAN marino', 3],
 ['Malaysia', 2],
 ['Nigeria', 2],
 ['The Bahamas', 2],
 ['Jordan', 2],
 ['Finland', 2],
 ['kosovo', 2],
 ['Estonia', 2],
 ['Latvia', 2],
 ['Tunisia', 2],
 ['Thailand', 2],
 ['Fiji', 2],
 ['Kuwait', 1],
 ['Puerto Rico', 1],
 ['namibia', 1],
 ['bahrain', 1],
 ['moldova', 1],
 ['Saudi Arabia', 1],
 ['Ghana', 1],
 ['The ivory coast', 1],
 ['Burkina faso', 1],
 ['Syria', 1],
 ['Lithuania', 1],
 ['North Macedonia', 1],
 ['Bermuda', 1],
 ['turkmenistan', 1],
 ['Morocco', 1],
 ['grenada', 1],
 ['Botswana', 1]]

In [298]:
from pyecharts.charts import Map
c = (
Map()
.add('世界地图', data2, 'world')
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(
    title_opts=opts.TitleOpts(title='世界地图'),
        visualmap_opts=opts.VisualMapOpts(max_=200),
    )
    .render()
)

In [300]:

from pyecharts.charts import Timeline, Bar, Pie

'D:\\git\\sanfwStudy\\sanfw\\sanfw\\xianglong\\12-2-第一天答题\\东京奥运会奖牌分析\\finance.html'

In [324]:
data = {}
for i in df5.index:
    data[i] = []
    for ii in df5.columns:
        data[i].append({
            'name': ii,
            'value': int(df5[ii][i])
        })
list(df5.columns)

['美国', '中国', '俄罗斯', '英国', '日本', '澳大利亚', '意大利', '德国', '荷兰', '法国']

In [335]:
def myBar(day: str) -> Bar:
    bar = (
        Bar()
        .add_xaxis(xaxis_data=list(df5.columns))
        .add_yaxis(
        series_name='奖牌总数',
            y_axis=data[day],
            is_selected=True,
            label_opts=opts.LabelOpts(is_show=False)
        )
    )
    pie = (
        Pie()
        .add(
            series_name='奖牌占比',
            data_pair=[
                [i['name'], i['value']] for i in data[day]
            ],
            center=['75%', '35%'],
            radius='28%'
        )
        .set_series_opts(tooltip_opts=opts.TooltipOpts(is_show=True, trigger='item'))
    )
    return bar.overlap(pie)

In [336]:
timeline = Timeline(init_opts=opts.InitOpts(width='1600px', height='800px'))

for i in df5.index:
    timeline.add(myBar(i), time_point=str(i))

timeline.add_schema(is_auto_play=True, play_interval=1000)
timeline.render('finance.html')

'D:\\git\\sanfwStudy\\sanfw\\sanfw\\xianglong\\12-2-第一天答题\\东京奥运会奖牌分析\\finance.html'